
.footer {
  /* border: 1px solid red; */
  box-sizing: border-box;
  background-color: aquamarine;
  width: 1920px;
  height: 100px;
}

.footer>div {
  width: 100%
}

.footer1 {
  height: 20%
  
}

.footer2 {
  height: 80%
}


.footer2>p {
  /* border:1px solid blue; */
  width: 100%;
  margin: 0;
  box-sizing: border-box;
  font-size: 12px;
}

.p1 {
  height: 80%;
  padding: 5px;
}

.p2 {
  height: 20%;
  text-align: center;
  padding-bottom: 5px;
}

/* 세부내용 스타일 */
.footer1>Link {
  text-decoration: none;
  color: black;
  font-weight: 600;
  margin: 15px;
  line-height: 25px;
}