.headerContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 16px 40px;
  gap: 1040px;

  position: absolute;
  width: 1920px;
  height: 50px;
  left: 0px;
  top: 0px;

  background: aquamarine;
  box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.1);
}

/* .navigator {
  
} */

.navi {
  /* border:1px solid blue; */
  margin: 0;
  padding: 0;
  list-style-type: none;
  height: 100%;
} 

.navi>li {
  /* border:1px solid blue; */
  float: left;
  width: 15%;
  height: 100%;
  text-align: center;
} 


